<div class="container hr">
  <h1><%= t('students.editing_student') %></h1>
  <p></p>
  <%= link_to t('global.show'), @student, class: "btn btn-primary" %> |
  <%= link_to t('global.back'), students_path, class: "btn btn-primary"  %>
  <p></p>
  <%= render 'form', student: @student %>
</div>